<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
    {%- if page.redirect -%}
      <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
    {%- endif -%}
    {%- if page.redirect_to -%}
      <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}/" />
    {%- endif -%}
    {% include head.html %}
    </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}

      
<!-- Default Statcounter code for homepage
https://jn-huang.github.io -->
<script type="text/javascript">
  var sc_project=13050946; 
  var sc_invisible=1; 
  var sc_security="3a80fd4f"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/13050946/0/3a80fd4f/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->


  </body>
</html>
